.App {
  text-align: center;
  font-family: "Kanit", sans-serif;
  min-height: 100vh;
  min-width: 100vw;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.app{
  display: flex;
}

.container {
  height: 100vh;
  width: 100%;
  background: #fcfcfc;
  min-height: 100vh;
  display: grid;
  grid-auto-rows: 400px;
  grid-gap: 30px;
  grid-template-columns: repeat(3, minmax(200px, 300px));
  justify-content: center;
  align-items: stretch;
  margin-top: 145px;
}


.filter_div{
  z-index: 99999;
  width: 100%;
  height: 65px;
  background: #dedede;
  position: fixed;
  top: 35px;
  left: 0;
  display: flex;
  padding: 20px;
  justify-content: left;
  align-items: center;
  color: white;
  font-weight: 150;
  font-size: x-large;
  text-transform: uppercase;
  letter-spacing: 0.2em;

}

  @media screen and (max-width: 720px) {

        .container {
          margin-top: 125px;
        }

        .filter_div{
             top: 25px;
             height: 0px;
             padding-bottom: 40px;
        }        
  }